{{ ansible_managed | comment }}

{% if openvpn_use_system_easyrsa %}
export EASY_RSA=/usr/share/easy-rsa
{% else %}
export EASY_RSA="{{ openvpn_etcdir }}/easy-rsa"
{% endif %}

export OPENSSL="openssl"
export PKCS11TOOL="pkcs11-tool"
export GREP="grep"


export KEY_CONFIG=`$EASY_RSA/whichopensslcnf $EASY_RSA`

export KEY_DIR="{{ openvpn_keydir }}"

echo NOTE: If you run ./clean-all, I will be doing a rm -rf on $KEY_DIR

# PKCS11 fixes
export PKCS11_MODULE_PATH="dummy"
export PKCS11_PIN="dummy"

export KEY_SIZE={{ openvpn_key_size }}

export CA_EXPIRE=3650

export KEY_EXPIRE=3650

export KEY_COUNTRY="{{ openvpn_key_country }}"
export KEY_PROVINCE="{{ openvpn_key_province }}"
export KEY_CITY="{{ openvpn_key_city }}"
export KEY_ORG="{{ openvpn_key_org }}"
export KEY_EMAIL="{{ openvpn_key_email }}"
export KEY_OU="{{ openvpn_key_ou|default('MyOrganizationalUnit') }}"

# X509 Subject Field
export KEY_NAME="EasyRSA"
